<div class="ui first container">
    <div class="ui three steps">
        <div class="step newActivities">
            <div class="content">
                <div class="title">最新活动</div>
                <div class="description"></div>
            </div>
        </div>
        <div class="step myActivities">
            <div class="content">
                <div class="title">我的活动</div>
                <div class="description"></div>
            </div>
        </div>
        <!--<div class="step" >
            <div class="content">
                <div class="title">Confirm Order</div>
                <div class="description">Review your order details</div>
            </div>
        </div>-->
    </div>
</div>

<script>
    function ActiveStep(tab){
        $("."+tab).addClass("active")
    }
</script>